body
{
    margin: 0;
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #505050;
}

.upper-nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.return-section
{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.return-section > p
{
    margin: 0;
    font-size: 18px;
}

.return-section > p > span
{
    font-weight: 500;
}

.upper-nav > .right-section
{
    display: flex;
    margin-right: 32px;
    gap: 32px;
}

.upper-nav > .right-section > div
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.lower-nav
{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 40px
}

.lower-nav > .left-section
{
    display: flex;
    width: 286px;
    margin-left: 32px;
}

.lower-nav > .left-section > button
{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
}

.lower-nav > .right-section
{
    display: flex;
    margin-right: 32px;
    width: 378px;
}

.lower-nav > .right-section > div
{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}

main
{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

main > .left-section
{
    margin-left: 32px;
    width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main > .left-section > .first-post
{
    padding-top: 56px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sunset-img
{
    width: 1016px;
    height: 424px;
    object-fit: cover;
}

main > .left-section > .first-post > .comment-head
{
    display: flex;
    align-items: center;
    gap: 8px;
}

main > .left-section > .first-post > .comment-head > a
{
    color: #5095EC;
}

main > .left-section > .first-post > .comment-body
{
    display: flex;
    gap: 8px;
}

main > .left-section > .first-post > .comment-body > .grey-line
{
    height: 63px;
    width: 2px;
    background-color: #D3D8DE;
}

main > .left-section > .first-post > .comment-body > .comment-content
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main > .left-section > .first-post > .comment-body > .comment-content > .comment-foot
{
    color: #8F8F8F;
}

.comment-content > p
{
    margin: 0;
}

main > .left-section > .first-post > .comment-info
{
    display: flex;
    align-items: center;
    gap: 32px;
}

main > .left-section > .first-post > .comment-info > div
{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

main > .left-section > .second-post,
main > .left-section > .third-post
{
    display: flex;
    height: 56px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 0 32px;
    justify-content: space-between;
    font-size: 16px;
}

main > .left-section > .second-post > .time,
main > .left-section > .third-post > .time
{
    display: flex;
    align-items: center;
    gap: 16px;
}

main > .right-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 264px;
    margin-right: 32px;
}

main > .right-section > .user-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}

main > .right-section > .user-div > img
{
    height: 132px;
    width: 132px;
    border-radius: 50%;
    /* object-position: 0px 0; */
    object-fit: cover;
}

main > .right-section > .user-div > .name
{
    font-size: 18px;
}

main > .right-section > .user-div > .job
{
    color: #8F8F8F;
}

main > .right-section > .user-div > .links
{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

main > .right-section > nav
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #FFFFFF;
    width: 100%;
    font-size: 16px;
    
}

main > .right-section > nav > .first-block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 0;

}

main > .right-section > nav > .second-block,
main > .right-section > nav > .third-block
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}

main > .right-section > nav > .second-block > div,
main > .right-section > nav > .third-block > div
{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
}

.balance,
.connections,
.events
{
    margin-left: auto;
    font-size: 14px;
}

.balance
{
    color: #8F8F8F;
}

.connections,
.events
{
    background-color: #E33939;
    height: 16px;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFFFF;
    border-radius: 8px;
}

.events
{
    background-color: #47B091;
}



main > .right-section > .share-div
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #FFFFFF;
    width: 100%;
}

main > .right-section > .share-div > .name
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

main > .right-section > .share-div > textarea
{
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    height: 88px;
    resize: none;
    border: 1px solid #D3D8DE;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

main > .right-section > .share-div > textarea::placeholder
{
    color: #8F8F8F;
    initial-value: "Enter your message";
    font-family: 'Roboto', sans-serif;
}

main > .right-section > .share-div > button
{
    margin: 16px;
    margin-top: 0px;
    background-color: #5095EC;
    height: 32px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.activeButton
{
    background-color: #F1F1F1 !important;
}

.map-main,
.time-main
{
    flex-direction: column;
    width: 1376px;
    background-color: #FFFFFF;
    margin-left: 32px;
    margin-right: 32px;
}

.map-main > .name,
.time-main > .name
{
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 16px;
    padding-right: 16px;
}

.map-main > .name > .icons,
.time-main > .name > .icons
{
    display: flex;
    gap: 8px;
    align-items: center;
}

.map-main > .map-div
{
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-main > .time-div
{
    height: 67px;
    padding-left: 32px;

}



